@import "variables/colors", "variables/presets";

body {
    font: 100% "Space Mono", monospace;
    color: $main-font-color;
    margin: 0;
    padding: 0;
    background-color: $body-background;
    overflow-x: hidden;
}

main {
    padding: $main-padding * 0 $main-padding;
}

article {
    display: flex;
    flex-wrap: wrap;
    section {
        flex-grow: 1;
        flex-basis: 45%;
        border: 1px $border-color solid;
        @include box-shadow($main-font-color);
        padding: $main-padding;
        margin: 16px;
        clear: both;
        overflow: auto;
        box-sizing: border-box;
    }
    &#selling-points {
        flex-grow: 2;
        flex-basis: 100%;
    }
    code {
        background: #000;
        border: 1px solid $main-font-color;
        color: $border-color;
        page-break-inside: avoid;
        font-family: monospace;
        font-size: 15px;
        line-height: 1.6;
        margin-bottom: 1.6em;
        max-width: 100%;
        overflow: auto;
        padding: $main-padding $main-padding * 1.5;
        display: block;
        word-wrap: break-word;
        &.before {
            float: left;
            width: 40%;
        }
        &.after {
            float: right;
            width: 40%;
        }
    }
}

h1,
h2,
h3 {
    color: $headings-color;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 1.5em;
    padding: $main-padding * 2;
    margin-bottom: 0px;
}

.messages {
    padding: $main-padding;
}

.alert {
    border: 1px solid $border-color;
    padding: $main-padding;
    color: $body-background;
}

.success,
.error,
.warning {
    @extend .alert;
}

.success {
    background-color: $alert-color-1;
}

.error {
    background-color: $alert-color-2;
    &:hover {
        background-color: $alert-color-1;
    }
}

.warning {
    background-color: $alert-color-3;
}

@for $i from 1 through 3 {
    .advantages {
        li {
            &:nth-child(1n + #{$i}) {
                background-color: lighten(black, $i * 5%);
                color: darken(yellow, $i * 5%);
            }
        }
    }
}
