$main-padding: 1em;
@mixin box-shadow($shadow-color) {
    -webkit-box-shadow: 10px 10px 15px -4px $shadow-color;
    -moz-box-shadow: 10px 10px 15px -4px $shadow-color;
    box-shadow: 10px 10px 15px -4px $shadow-color;
}
